body {
  background-color: #CCCCFF;
  padding: 0;
  margin: 0;
}

/* Main Container */
div.container {
  width: 90%;
  padding: 20px;
  text-align: center;
}

h1#title {
  font-size: 60px;
  font-style: italic;
  font-family: 'Barrio', cursive;
}

/* Input Information */
input {
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgba(204,255,255, 0.3);
  color: black;
  width: 80%;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 30px;
}

button {
  padding: 5px;
  font-size: 18px;
  background: black;
  color: white;
}

button:hover {
  background-color: rgba(0,0,0,0.7);
}
/* Post Display */
div.postContainer {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
  -webkit-box-shadow: -9px 11px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 11px 5px -4px rgba(0,0,0,0.75);
  box-shadow: -9px 11px 5px -4px rgba(0,0,0,0.75);
}

div.postContainer img {
  border-style: inset;
  width: 300px;
  height: 300px;
  text-align: center;
}

div.postContainer h2, div.postContainer {
  font-family: 'Nunito Sans', sans-serif;
}
